ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}

 a{
  color : red;
  background-color: silver;
  width: 100%
}
a:hover{
  color : white;
  background-color: red;
  text-decoration: none;
}
